<%= form_for(publication) do |f| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class= "field">		
	<%=f.label :Title%>
	<%=f.text_field :Pub_Title%>
</div><br />

	
<div class "field">
	<%=f.label :Author%>
	<%=collection_select(:publication, :Author_ID, Author.order(:L_Name), :id, :L_Name,{},{:multiple => false})%>
	
<div class="field">
	<%=f.label :Publisher%>
	<%=collection_select(:publication, :Publisher_ID, Publisher.order(:Publisher_Name), :id, :Publisher_Name, {},{:multiple => false})%>
</div><br />	

<div class= "field">
	<%=f.label :Publication_Date%>
	<%=f.text_field :Pub_Date%>
</div><br />

<div class="field">
	<%=f.label :Category%>
	<%=collection_select(:publication, :category_id, Category.order(:category), :id, :category, {},{:multiple => false})%>
</div><br />

<div class="field">
	<%f.label :Type%>
	<%=collection_select(:publication, :p_type_id, PType.order(:pub_type), :id, :pub_type, {}, {:multiple => false})%>
</div><br />

<div class= "field">
	<%=f.label :VOL%>
	<%=f.text_field :VOL%>
</div><br />

<div class= "field">
	<%=f.label :No%>
	<%=f.text_field :No%>
</div><br />
	
<div class="field">
	<%=f.label :Genre%>
	<%=f.text_field :Genre%>
</div><br />

<div class= "field">
	<%=f.label :Web_Address%>
	<%=f.text_field :Web_Address%>
</div><br />

<div class= "field">
	<%=f.label :Entered_By%>
	<%=f.text_field :Entered_By%>
</div><br />

<div class= "field">
	<%=f.label :Summary%>
	<%=f.text_area :Summary%>
</div><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
