<p id="notice"><%= notice %></p>

<h1>Publication Types</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @p_types.each do |p_type| %>
      <tr>
        <td><%= link_to p_type.pub_type, p_type %></td>
        <td><%= link_to 'Edit', edit_p_type_path(p_type) %></td>
        <td><%= link_to 'Destroy', p_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New P Type', new_p_type_path %> |
<%= link_to 'Home', root_path %>
