<%= form_for(author) do |f| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class= "field">
	<%=f.label :L_Name %>
	<%=f.text_field :L_Name%>
</div>

<div class= "field">
	<%=f.label :F_Name %>
	<%=f.text_field :F_Name %>
</div>

<div class= "field">
	<%=f.label :M_Initial%>
	<%=f.text_field :M_Initial%>
</div>

<div class="field">
	<%=f.label :Full_Name%>
	<%=f.text_field :Full_Name%>
</div>

<br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
