<header>
<center><h1>BCS Research Database</h1>		
</header>

<p>
The BCS Research Database contains summaries of professional literature pertaining to science, technology, engineering, business and education.  This data may be used in support of new business development, proposal writing and other innovative efforts.  The database is available to all Branson Consulting Services clients.  Please use the links below to access tables included in the database.
</p>

<p>
<center><%= link_to 'Publications', publications_url%></center><br />
<center><%= link_to 'Authors', authors_url%></center><br />
<center><%= link_to 'Publishers', publishers_url%></center><br />
<center><%= link_to 'Categories', categories_url%></center><br />
<center><%= link_to 'Types', p_types_url%></center><br />
<center><b><%= link_to 'Sign Out', destroy_user_session_path, method: :delete%></b></center>
</p>